@model double
@using ConsoleAppProject.App02
@{
    ViewData["Title"] = "HealthMessage";
}
@{
    BMI bmiCalculator = new BMI();
    bmiCalculator.Bmi = Model;
}
<header class="jumbotron">
    <h1>BMI HealthMessage</h1>
    <h2>By Kaleem Shah</h2>
</header>
<section>
    <h2>Your BMI Index</h2>
    <p class="text-lead">
        @bmiCalculator.GetBMIMessage()
    </p>
    <h2>BAME Message</h2>
    <p class="text-info">
        @bmiCalculator.DisplayBAMEMessage()
    </p>
</section>


