@{
    ViewData["Title"] = "KS Home Page";
}

<div class="text-center jumbotron justify-content-center bg-secondary text-light py-5">
    <h1 class="display-4">CO453 Applications Programming</h1>
    <h2>by Kaleem Shah</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section>
    <ol class= "list-group" >
        <li class="list-group-item">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="DistanceConverter">App01</a> Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="BMI">App02</a> BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="StudentGrades">App03</a> Student Grades
        </li>
        <li class="list-group-item">
            <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="StudentGrades">App04</a> Social Media
        </li>
        
    </ol>
</section>