@{
    ViewData["Title"] = "KS Home Page";
}

<div class="text-center">
    <h1 class="display-4">CO453 Applications Programming</h1>
    <h2>by Kaleem Shah</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<section>
    <ol class= "list-group">
        <li class="list-group-item">
            <a asp-area="" asp-controller="Home" asp-action="DistanceConverter">App01: Distance Converter</a>
        </li>
        <li class="list-group-item">
            <a asp-area="" asp-controller="Home" asp-action="BMI">App02: BMI Calculator</a>
        </li>
    </ol>
</section>