@model ConsoleAppProject.App03.StudentGrades
@using ConsoleAppProject.App03
@{
    ViewData["Title"] = "StudentGrades";
    //Layout = "StudentGrades.cshtml";
}

<header>
    <h1>Student Grades</h1>
    <h2>By Kaleem Shah</h2>
    <p>
        This application will allow a teacher to enter student grades and display statistics
    </p>
</header>

